<%= form_with model: @post, local: true do |f| %>
    <div class="form-padding mt-3">
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body, class: "form-control" %>
        </div>
        <%= f.submit class: "btn btn-outline-primary" %>
    </div>
<% end %>