<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar">
        <%= link_to 'Blog On Rails', posts_path %>
        <%= link_to 'Home', posts_path %>
        <%= link_to 'New Post', new_post_path %>
      </nav>
      <% flash.each do |type, message| %>
        <div>
          <%= message %>  
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
